[Unit]
Description=Presentium Client
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=1
User=presentium
WorkingDirectory=/etc/presentium/presentium-client
ExecStart=/etc/presentium/presentium-client/presentium-venv/bin/python3 /etc/presentium/presentium-client/main.py

[Install]
WantedBy=multi-user.target